#root section.content .tab-menu-inner.sub.English .ui.attached.tabular.menu {
  display: table;
}

#root
  section.content
  .tab-menu-inner.sub.English
  .ui.attached.tabular.menu
  .item {
  display: table-cell;
  padding: 0 1.15rem;
  height: 3.5rem;
}

.tab-menu-inner.sub.English .ai-background {
  background: url(https://image.mysuni.sk.com/suni-asset/public/introduction/images/level-line_ENG.png)
    no-repeat !important;
}

#root section.content .tab-menu-inner.sub.Chinese .ui.attached.tabular.menu {
  display: table;
}

#root
  section.content
  .tab-menu-inner.sub.Chinese
  .ui.attached.tabular.menu
  .item {
  display: table-cell;
  padding: 0 1.15rem;
  height: 3.5rem;
}

.tab-menu-inner.sub.Chinese .ai-background {
  background: url(https://image.mysuni.sk.com/suni-asset/public/introduction/images/level-line_CHN.png)
    no-repeat !important;
}

#root section.content .tab-menu-inner.sub.English .sub-tab-menu.dt .ui.menu {
  display: table;
}

#root
  section.content
  .tab-menu-inner.sub.English
  .sub-tab-menu.dt
  .ui.menu
  .item {
  display: table-cell;
  height: 5rem !important;
  padding: 1.25rem 1.07rem !important;
}

#root section.content .tab-menu-inner.sub.English .dt-background {
  background: url(https://image.mysuni.sk.com/suni-asset/public/introduction/images/level-line02_ENG.png)
    no-repeat !important;
}

#root section.content .tab-menu-inner.sub.Chinese .sub-tab-menu.dt .ui.menu {
  display: table;
}

#root
  section.content
  .tab-menu-inner.sub.Chinese
  .sub-tab-menu.dt
  .ui.menu
  .item {
  display: table-cell;
  height: 5rem !important;
  padding: 1.25rem 1.07rem !important;
}

#root section.content .tab-menu-inner.sub.Chinese .dt-background {
  background: url(https://image.mysuni.sk.com/suni-asset/public/introduction/images/level-line02_CHN.png)
    no-repeat !important;
}

#root
  section.content
  .tab-menu-inner.sub.English
  .sub-tab-menu.management1
  .ui.menu {
  display: table;
}

#root
  section.content
  .tab-menu-inner.sub.English
  .sub-tab-menu.management1
  .ui.menu
  .item {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 20px !important;
  font-size: 14px !important;
  letter-spacing: -0.42px !important;
}

#root
  section.content
  .tab-menu-inner.sub.Chinese
  .sub-tab-menu.management1
  .ui.menu {
  display: table;
}

#root
  section.content
  .tab-menu-inner.sub.Chinese
  .sub-tab-menu.management1
  .ui.menu
  .item {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 20px !important;
  font-size: 14px !important;
  letter-spacing: -0.42px !important;
}
