.ui.modal.base.tutorials3{background: transparent !important; border-radius: 0 !important; box-shadow: none;}
.ui.modal.base.tutorials3 .header3{background: transparent !important; text-align: right; padding-bottom: 1rem; border-bottom-color: transparent !important;}
.ui.modal.base.tutorials3 .header3 .right-btn{top:-0.5rem; right: 0 !important}
.ui.modal.base.tutorials3 .header3 .ui.checkbox{vertical-align: text-top;}
.ui.modal.base.tutorials3 .header3 .right-btn .ui.checkbox label{color:#fff; font-size: 0.875rem;}
.ui.modal.base.tutorials3 .header3 .right-btn .ui.checkbox label:hover,.ui.modal.base.tutorials3 .header .right-btn .ui.checkbox + label:hover{color:#fff}
.ui.modal.base.tutorials3 .header3 .right-btn .ui.base.checkbox + .ui.button.close{margin-left:1rem; color:#fff; font-size: 0.875rem;}
.ui.modal.base.tutorials3 .content{padding: 0 !important; border-radius: 4px;}
.ui.modal.base.tutorials3 .content .cont-wrap{height: 40rem; display: flex; border-radius: 8px !important; overflow: hidden;}
.ui.modal.tutorials3 .scrolling-80vh {max-height: 80vh;}


.tutorials3 .left{width: 240px; height: 100%; background: #fff; box-shadow: 0 2px 20px 0 rgba(0,0,0, 0.2); z-index:1;}
.tutorials3 .left .top-logo{margin:20px 0 23px 30px;}
.tutorials3 .left .top-logo .icon.logo-new.sk-login::before{width: 54px; height: 23px; background-size: cover !important;}

.tutorials3 .left .item{position: relative; display: block; padding:14px 0 14px 34px; color: #444; letter-spacing: -0.35px; font-size: 0.875rem; font-weight: 700; line-height: normal;}
.tutorials3 .left .item.current:hover{ background-color: #00bfae;}
.tutorials3 .left .item:hover{ background-color: #f8f8f8;}
.tutorials3 .left .current{font-weight: 700; color:#fff; background-color: #00bfae;}

.tutorials3 .right{width: 760px; height: 100%; background: #fff; overflow: hidden; text-align: left;}
.tutorials3 .tu-cont{position:relative; padding:22px 35px 38px; width :100%; height: 100%; background-size: 200px; background-position-x: calc(100% - 35px); background-position-y: 22px; background-repeat: no-repeat;}
.tutorials3 .tu-cont .inner{position:relative; width:100%; height: 100%;}
.tutorials3 .tu-cont .top-text{ padding:16px 0 0 4px; color: #333; font-size: 20px; line-height: 30px; letter-spacing: -0.5px;}

/*.ui.checkbox.new:not(.radio) label:before, .ui.checkbox.new:not(.radio) label:hover:before{background:url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/btn-check-nomal-green.svg') 0 0 no-repeat !important;}*/
/*.ui.checkbox:not(.radio) input:checked~label:before,*/
/*.ui.checkbox.checked.new:not(.radio) label:hover:before{background : url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/btn-check-selected-green.svg') 0 0 no-repeat !important}*/

/* intro */
.tu-cont.tu1{background: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/key-image.png') 105px 0/contain no-repeat;}

.intro-button ul { display: flex; justify-content: space-between; width:470px; position: absolute; left:50%; bottom: 50%; transform: translateX(-50%);  margin: 0 auto 10px;}
.intro-button li{ position:relative; display: block; width : 120px; height:120px; background-color: #f2f2f2; border-radius: 50%;}

.intro-button li:hover{background-color: #ff664d;}
.intro-button li::after{position: absolute; content:''; display: inline-block; border-width: 9px; width: 1px; height:1px; border-color: transparent; border-top-color: #f2f2f2; border-style:solid; left: calc(50% - 9px); top:calc(100% - 1px) }
.intro-button li:hover::after{border-top-color: #ff664d;}
.intro-button li:hover .intro{color:#fff;}

.intro-button li .intro{ display: inline-block; padding-top:30px; width:100%; height: 100%; color:#444; font-size: 1rem; font-weight: 700; letter-spacing: -0.4px; text-align: center;}
.intro-button li .intro .icon{display: block; margin : 0 auto 8px; width:26px; height:26px; background-size: cover; background-repeat: no-repeat;}
.intro-button .intro .icon.tuto-01{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/tuto-icon-01-off.png');}
.intro-button .intro .icon.tuto-02{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/tuto-icon-02-off.png');}
.intro-button .intro .icon.tuto-03{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/tuto-icon-03-off.png');}
.intro-button .intro .icon.tuto-04{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/tuto-icon-04-off.png');}
.intro-button li:hover .intro .icon.tuto-01{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/tuto-icon-01-on.png');}
.intro-button li:hover .intro .icon.tuto-02{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/tuto-icon-02-on.png');}
.intro-button li:hover .intro .icon.tuto-03{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/tuto-icon-03-on.png');}
.intro-button li:hover .intro .icon.tuto-04{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/tuto-icon-04-on.png');}
/* subtab공통 */
.tab-tu .ui.menu.secondary{margin:30px 0 0 0; width: 100%; border: 0; background: transparent; min-height: 28px;}
.tab-tu .ui.menu.secondary .item{ position: relative; display: inline-block; padding:0 0 0 36px; margin:0 24px 0 0; color:#888; font-size: 0.875rem; line-height: 28px; letter-spacing: -0.2px; font-weight: 700; white-space: break-spaces;}
.tab-tu .ui.menu.secondary .item::after{content:''; position: absolute; display: inline-block; width:28px; height:28px; border-radius: 50%; background-color: #888; color :#fff; font-size:0.875rem; line-height: 28px; font-weight: 400; text-align: center; top: 0;left:0;}
.tab-tu .ui.menu.secondary .item:nth-child(1)::after{content : '1'}
.tab-tu .ui.menu.secondary .item:nth-child(2)::after{content : '2'}
.tab-tu .ui.menu.secondary .item:nth-child(3)::after{content : '3'}
.tab-tu .ui.secondary.menu .item:hover{color: #888; background-color: #fff;}
.tab-tu .ui.menu.secondary .item.active{ background: transparent; color: #ff664d;}
.tab-tu .ui.menu.secondary .item.active::after{background-color: #ff664d;}
.tab-tu .ui.secondary.menu .item.active:hover{color: #ff664d; background-color: #fff;}
.tab-tu .ui.segment.tab.tab-img-wrap{margin:0; padding:0; display: block; border :0; border-radius: 0; overflow: hidden; width: 690px; height: 420px; background-color: transparent; position: absolute; top : calc(100% - 420px);right: 0; bottom: 0; left: 0; }
.tab-tu .ui.segment.tab.tab-img-wrap .tab-img{width:100%; height: 100%; background-color: #fff; background-size: 100% 100%; background-repeat: no-repeat; box-shadow: 0 0 0 1px #ccc inset;}

/* tab2 */
.tu2.tu-cont{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/pointing-woman.png');}
.tu2 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-02-01.png');}
.tu2 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-02-02.png');}

/* tab3 */
.tu3.tu-cont{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/searching-man-2.png');}
.tu3 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-03-01.png');}
.tu3 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-03-02.png');}
/* tab4 */
.tu4.tu-cont{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/studying-man-2.png');}
.tu4 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-04-01.png');}
.tu4 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-04-02.png');}
/* tab5 */
.tu5.tu-cont{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/card-woman-2.png');}
.tu5 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-05-01.png');}
/* tab6 */
.tu6.tu-cont{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/learnig-man-2.png');}
.tu6 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-06-01.png');}
.tu6 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-06-02.png');}
.tu6 .ui.segment.tab.tab-img-wrap .t-img3{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-06-03.png');}
/* tab7 */
.tu7.tu-cont{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/recommending-woman-2.png');}
.tu7 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-07-01.png');}
.tu7 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-kor-07-02.png');}


/* kor, eng, chn */
.tutorials3.kor .intro-button ul { width: 582px; }

.tutorials3.eng .intro-button li { width: 130px; height: 130px; }
.tutorials3.eng .intro-button li .intro { padding-top: 26px; line-height: 1.07; }
.tutorials3.eng .intro-button li .intro .icon.tuto-01 { margin-bottom: 17px; }
.tutorials3.eng .intro-button li .intro .icon.tuto-02 {margin-bottom: 10px;}
.tutorials3.eng .intro-button li .intro .icon.tuto-03 {margin-bottom: 6px;}
.tutorials3.eng .intro-button li:last-child .intro {font-size: 14px;}
.tutorials3.eng .tu-cont .top-text { padding-top: 8px; line-height: 1.37;}
.tutorials3.eng .tab-tu .ui.menu.secondary {margin-top: 20px;}
.tutorials3.eng .tu6 .ui.menu.secondary .item{padding-left:34px;  line-height: 1.34; font-size: 0.75rem; white-space: pre-line; margin-right:20px}
.tutorials3.eng .tu6 .ui.menu.secondary .item:nth-child(2):after {top: 8px;}
.tutorials3.eng .tu6 .ui.menu.secondary{margin-top: 10px;}

.tutorials3.chn .tu6 .ui.menu.secondary .item { margin-right: 19px;}
.tutorials3.chn .ui.menu.secondary .item:nth-child(2) { line-height: 1.07; white-space: pre-line;}

.tutorials3.eng .tu-cont.tu1{background: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/key-image-eng.png') 95px 0/contain no-repeat;}
.tutorials3.chn .tu-cont.tu1{background: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/key-image-chn.png') 105px 0/contain no-repeat;}
.tutorials3.eng .tu2 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-02-01.png');}
.tutorials3.eng .tu2 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-02-02.png');}
.tutorials3.chn .tu2 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-02-01.png');}
.tutorials3.chn .tu2 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-02-02.png');}
.tutorials3.eng .tu3 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-03-01.png');}
.tutorials3.eng .tu3 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-03-02.png');}
.tutorials3.chn .tu3 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-03-01.png');}
.tutorials3.eng .tu4 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-04-01.png');}
.tutorials3.eng .tu4 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-04-02.png');}
.tutorials3.chn .tu4 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-04-01.png');}
.tutorials3.chn .tu4 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-04-02.png');}
.tutorials3.eng .tu5 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-05-01.png');}
.tutorials3.chn .tu5 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-05-01.png');}
.tutorials3.eng .tu6 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-06-01.png');}
.tutorials3.eng .tu6 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-06-02.png');}
.tutorials3.eng .tu6 .ui.segment.tab.tab-img-wrap .t-img3{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-eng-06-03.png');}
.tutorials3.chn .tu6 .ui.segment.tab.tab-img-wrap .t-img1{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-06-01.png');}
.tutorials3.chn .tu6 .ui.segment.tab.tab-img-wrap .t-img2{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-06-02.png');}
.tutorials3.chn .tu6 .ui.segment.tab.tab-img-wrap .t-img3{background-image: url('https://image.mysuni.sk.com/suni-asset/public/static/images/all/img-contents-chn-06-03.png');}
