.f-site-box {
  position: relative;
  width: 12rem;
  height: 3rem;
  color: #eee;
  font-size: 0.875rem;
}
.f-site-box .f-site-btnbox {
  overflow: hidden;
  padding-left: 1.1rem;
  line-height: 2.9rem;
  border: #4c4c4c 1px solid;
  cursor: pointer;
}
.f-site-box .f-site-btnbox .icon {
  display: block;
  float: right;
  height: 2.9rem;
  width: 2.9rem;
}
.f-site-box.on .f-site-btnbox .icon {
  transform: rotate(180deg);
}
.f-site-box .f-site-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  line-height: 2rem;
  max-height: 9rem;
  overflow: auto;
  border: #4c4c4c 1px solid;
  border-top: 0;
  padding: 0.5rem;
}
/* .f-site-box.on .f-site-menu {
  display: block;
}

.f-site-box:hover .f-site-menu {
  display: block;
}
.f-site-box:hover .f-site-btnbox .icon {
  transform: rotate(180deg);
}
.f-site-box .f-site-menu ul,
.f-site-menu li {
  display: block;
} */

.f-site-box .f-site-menu .link-options {
  padding: 0 0.6rem;
}

.f-site-box .f-site-menu .link-options:hover {
  background: #404040;
}
