registry=https://registry.npmjs.org
@nara.platform:registry=http://211.44.28.114:10001/repository/npm-private/
@nara.drama:registry=http://211.44.28.114:10001/repository/npm-private/

//211.44.28.114:10001/repository/npm-private/:_authToken=NpmToken.a3cabfe7-94e7-3de5-ab53-ba959c932301
//211.44.28.114:10001/repository/npm-public/:_authToken=NpmToken.a3cabfe7-94e7-3de5-ab53-ba959c932301

strict-ssl=false
always-auth=false
network-timeout=100000
