registry=https://registry.npmjs.org
@nara.platform:registry=http://211.44.28.114:10001/repository/npm-public/
@nara.drama:registry=http://211.44.28.114:10001/repository/npm-public/
@sk:registry=https://sk-university-dev-nexus.cloudzcp.io/repository/npm-private/

//211.44.28.114:10001/repository/npm-private/:_authToken=NpmToken.a3cabfe7-94e7-3de5-ab53-ba959c932301
//211.44.28.114:10001/repository/npm-public/:_authToken=NpmToken.a3cabfe7-94e7-3de5-ab53-ba959c932301
//https://sk-university-dev-nexus.cloudzcp.io/repository/npm-private/:_auth=c2stZGV2OnNrLWRldg==

strict-ssl=false
always-auth=false
network-timeout=100000
