registry=https://registry.npmjs.org
@nara.platform:registry=http://58.225.16.61:10001/repository/npm-private/
@nara.drama:registry=https://sk-university-dev-nexus.cloudzcp.io/repository/npm-private/
@sk:registry=https://sk-university-dev-nexus.cloudzcp.io/repository/npm-private/
@sku:registry=https://sk-university-dev-nexus.cloudzcp.io/repository/npm-private/

//58.225.16.61:10001/repository/npm-private/:_authToken=NpmToken.a3cabfe7-94e7-3de5-ab53-ba959c932301
//58.225.16.61:10001/repository/npm-public/:_authToken=NpmToken.a3cabfe7-94e7-3de5-ab53-ba959c932301
//https://sk-university-dev-nexus.cloudzcp.io/repository/npm-private/:_auth=c2stZGV2OnNrLWRldg==

_auth=c2stZGV2OnNrLWRldg==
strict-ssl=false
always-auth=false
network-timeout=100000
