<html xmlns:th='http://www.thymeleaf.org'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
</head>
<body>
<table width='740' cellpadding='0' cellspacing='0'>
  <tbody>
  <tr>
    <td width='40'></td>
    <td width='700'>
      <table width='700' cellpadding='0' cellspacing='0'>
        <tbody>
        <tr>
          <td height='50'></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <table width='700' cellpadding='0' cellspacing='0'>
              <tbody>
              <tr>
                <td valign='top' width='20'></td>
                <td valign='top'><img src='http://int.mysuni.sk.com/profile/email-img/logo-email.png' alt='SUNI' border='0'></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='10'></td>
        </tr>
        <tr>
          <td>
            <table width='100%' cellpadding='0' cellspacing='0' border='1' bordercolor='#c8d0e0' style='border-collapse:collapse'>
              <tbody>
              <tr>
                <td align='center'>
                  <table width='698' cellpadding='0' cellspacing='0' bgcolor='#ffffff'>
                    <tbody>
                    <tr>
                      <td height='30' width='40'></td>
                      <td width='620'></td>
                      <td width='40'></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><span style='font-family:-apple-system,system-ui,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,&#39;Helvetica Neue&#39;,Arial,sans-serif;font-size:24px;font-weight:bold;line-height:1.58;letter-spacing:-0.4px;color:#222;'>my<span style='color: red'>SUNI</span> 교육 취소 안내</span></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='12'></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td bgcolor='#222222' height='2'></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='30'></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <span style='font-family:-apple-system,system-ui,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,&#39;Helvetica Neue&#39;,Arial,sans-serif;font-size:14px;line-height:1.43;letter-spacing:-0.2px;color:#222;'>
                          <span th:text='${name}'/>님의 <span th:text='${cubeName}'/>과정 취소가 완료 되었습니다.
                        </span>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='30'></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td bgcolor='#c8d0e0' height='1'></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td bgcolor='#f4f7fd'>
                        <table width='620' cellpadding='0' cellspacing='0'>
                          <tbody>
                          <tr>
                            <td width='30' height='30'></td>
                            <td width='163'></td>
                            <td width='397'></td>
                            <td width='30'></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td valign='top'><span style='font-family:-apple-system,system-ui,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,&#39;Helvetica Neue&#39;,Arial,sans-serif;font-size:14px;font-weight:bold;letter-spacing:-0.2px;color:#222;;'>과정명</span>
                            </td>
                            <td valign='top'>
                              <div style='width:397px;font-family:-apple-system,system-ui,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,&#39;Helvetica Neue&#39;,Arial,sans-serif;font-size:14px;letter-spacing:-0.2px;color:#222;'>
                                <span th:text='${cubeName}'/>
                                <a th:href='${url}' target='_blank' style='font-family:-apple-system,system-ui,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,&#39;Helvetica Neue&#39;,Arial,sans-serif;font-size:16px;font-weight:bold;letter-spacing:-0.4px;color:#ff664d;'
                                >
                                  바로가기
                                </a>
                                <img src='http://int.mysuni.sk.com/profile/email-img/icon-mail-16-px.png' alt='' border='0'>
                              </div>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td height='20'></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td valign='top' width='163'><span
                              style='font-family:-apple-system,system-ui,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,&#39;Helvetica Neue&#39;,Arial,sans-serif;font-size:14px;font-weight:bold;letter-spacing:-0.2px;color:#222;;'>my<span
                              style='color: red'>SUNI</span> 담당자</span>
                            </td>
                            <td>
                              <div style='width:397px;font-family:-apple-system,system-ui,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,&#39;Helvetica Neue&#39;,Arial,sans-serif;font-size:14px;letter-spacing:-0.2px;color:#222;'>
                                <span th:text='${operatorName}'/> <img src='http://int.mysuni.sk.com/profile/email-img/devider.png' alt='' border='0'> <span th:text='${operatorEmail}'/>
                              </div>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td height='30'></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td bgcolor='#c8d0e0' height='1'></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='30'></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='20'></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='20'></td>
                      <td>
                        <span style='font-family:-apple-system,system-ui,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,&#39;Helvetica Neue&#39;,Arial,sans-serif;font-size:14px;letter-spacing:-0.2px;color:#222;'>감사합니다.<br>SUNI 드림.</span>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='100'></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td bgcolor='#dddddd' height='1'></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='20'></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td valign='middle'><img src='http://int.mysuni.sk.com/profile/email-img/email-bottom.png' alt='my suni copyright 2020 suni. all rights reserved' border='0'>
                      <td></td>
                    </tr>
                    <tr>
                      <td height='40'></td>
                      <td></td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
    <td width='40'></td>
  </tr>
  </tbody>
</table>


</body>
</html>
