/* Recommend */
.recommend-detail .channel-of-interest
.channel-of-interest .table-css.type3 .tit-set {
    height: 36px;
    line-height: 36px;
    padding: 0;
}
.channel-of-interest .table-css.type3 .item-wrap {
    width: 100%;
    height: 36px;
}
.channel-of-interest .table-css.type3 .item-wrap .belt {
    padding-right: 20px;
}
.channel-of-interest .table-css.type3 .item-wrap.active {
    height: auto;
}
.channel-of-interest .item-wrap .ui.button.toggle.toggle4{
    border: #00bfae 1px solid;
    color: #4c4c4c;
    height: 36px;
    border-radius: 18px;
}
.channel-of-interest .item-wrap .ui.button.toggle.toggle4.active {
    background: #00bfae !important;
}
.channel-of-interest .table-css.type3 .cell:nth-of-type(3) {
    width: 56px;
}
.toggle-btn .ui.button.img-icon .icon.arrow-down.s26,
.toggle-btn .ui.button.img-icon .icon.arrow-up.s26 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #4c4c4c;
}
.toggle-btn .ui.button.img-icon .icon.s26:after { 
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/btn-channel-down.svg) center no-repeat;
}
.toggle-btn .ui.button.img-icon .icon.arrow-up.s26:after {
    background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/btn-channel-up.svg) center no-repeat;
}
.recommend-detail .recommend-area .section-head {
    font-size: 1.375rem;
    color: #222;
}
.recommend-area .section-head .right.btn-more {
    font-size: 0.9rem;
    color: #999;
    padding: 0;
}

/* 학습카드 상세보기 페이지 */
.content.lms .course-info-list, .content.lms .course-popup-info-list {
    box-shadow: 0 2px 8px 0 rgba(76, 76, 76, 0.2);
}
.content.lms .course-info-detail,
.content.lms.v-wide .course-info-detail,
.content.lms .lms-sticky-menu,
#root .video-fixed-holder.lms-video-fixed + .lms-sticky-menu {
    background: #fff;
}
.content.lms .btn-view-change {
    color: #777;
}
.ui.button.btn_note_new { color: #bbb; }
.ui.button.btn_note_new.on { color: #777; }
.detail .ui.label.tag { border: #ddd 1px solid; color: #777; }
.ui.button.btn_note_new i.icon:before { background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-note-24-px-off.svg) center no-repeat !important; }
.ui.button.btn_note_new.on i.icon:before { background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-note-24-px.svg) center no-repeat !important; }
.ui.button.btn_note_new.ing i.icon:before { background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-note-24-px-active.svg) center no-repeat !important; }
.content.lms .tool-tip > i {
    border: #777 2px solid;
    color: #444;
    box-shadow: none;
}
.course-info-banner {
    border: #777 1px solid;
    box-shadow: 0 2px 8px -3px #cdcdcd;
}
.content.lms .ui.label.onlytext .icon.inter {
    background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-lms-level-02.svg) 0 0 no-repeat !important;
}
.badge-navi .btn-next.next-on {
    background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/btn-next-24-px.svg);
}
.badge-navi .btn-prev.prev-on {
    background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/btn-prev-24-px.svg);
}

/* 학습카드(개별) */
.card-item .custom-icon.icon-clock { background-image: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-tictoc.svg); }
.card-item .custom-icon.icon-bravo { background-image: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-bravo.svg); }
.card-item .custom-icon.icon-user { background-image: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-card-people.svg); }
.card-item .custom-icon.icon-user-white { background-image: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-card-user-white.svg); }
.card-item .custom-icon.icon-star { background-image: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-rate-active-16-px.svg); }
.card-item .custom-icon.icon-badge { background-image: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-hover-badge.svg); }
.card-item .custom-icon.icon-grade { background-image: url(https://image.mysuni.sk.com/suni-asset/public/images/all/icon-hover-grade.svg); }
.card-item .button.icon-bookmark { background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/card-bookmark-off.svg) center no-repeat; }
.card-item .button.icon-bookmark.on { background-image: url(https://image.mysuni.sk.com/suni-asset/public/images/all/card-bookmark-on.svg); }

/* FAQ */
.support-list-wrap.faq .cate-wrap .radio-wrap .ui.radio.checkbox { border: #00bfae 1px solid; }
.support-list-wrap.faq .cate-wrap .radio-wrap .ui.radio.checkbox.checked { background: #00bfae; }
.support-list-wrap.faq .cate-wrap .radio-wrap .ui.radio.checkbox.checked:after { border-top: 10px solid #00bfae; }

/* Loarding */
.loading { background: rgba(102, 102, 102, 0.8); }
.loading .spin { background: transparent; }

/* Main > Hot Topic */
.ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover {
    transform: translateY(0);
    box-shadow: none;
}

/* Main > mypage popup */
.profile-contents-area .button.page-bttn { width: 180px; border-radius: 18px; }

/* Main > 관심채널 */
.channel-tag-wrap .channel-tag-box .ui.label.ch { display: block; float: left; }

/* Main > 도정중인 뱃지 */
.learning-section.sec-tit-txt { word-break: break-all; }

/* 커뮤니티 */
.favorites_tab .ui.menu .item.active { background: url(http://image.mysuni.sk.com/suni-asset/public/images/all/icon-tabcheck-12-px.svg) no-repeat;}
.favorites_tab .ui.menu .item.active .total { color: #ff664d; }
.check-type1 input:checked + .check-type1-text{ color : #00bfae; border : 1px solid #00bfae; line-height: 1.375rem; }
.check-type1 input:checked + .check-type1-text span{color : #ff664d}
.community-slide-wrap .icon.next-on {
    background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/btn-next-24-px.svg) !important;
}
.community-slide-wrap .icon.prev-on {
    background: url(https://image.mysuni.sk.com/suni-asset/public/images/all/btn-prev-24-px.svg) !important;
}

/* Category poopup */
.g-menu-detail .layer .table-css .row.head .cell:last-of-type {
    border-left: 1px solid #ddd;
}
.g-menu-detail .layer .table-css .row.head .cell {
    border-bottom: 1px solid #ddd;
}
.g-menu-detail .layer .table-css .row.body .cell:first-of-type button.active,
.g-menu-detail .layer .table-css .row.body .cell:first-of-type button:hover {
    background: #f6f6f6 !important;
}

/* profile card */
.tag-info-area.sty2 .tag-area{padding-bottom: 16px}

/* college 소개 */
#root section.content .tab-menu2 {
    border-bottom: 1px solid #ddd;
}
#root section.content .tab-menu2 .fixed.top.sticky {
    box-shadow: -2px 5px 20px -6px rgba(76, 76, 76, 0.2);
    border-bottom: 0;
}
.introduction .providers { background: #f6f6f6; }