/*  === 2021.11.10 최은영 === */
body {
    background: unset !important;
}
body #root {
    background: #fff;
}

/* border */
.channel .college-detail .channel-of-interest,
.recommend-detail .channel-of-interest {
    border: #ddd 1px solid;
}
.ma-title {
    border-bottom: #ddd 1px solid;
}

/* 버튼 */
.ui.button.moreview {
    color: #999 !important;
}
.ui.icon.button.moreview .icon {
    background: url(/images/all/icon-list-more-16-px.svg) center no-repeat;
    margin-right: 4px !important;
}

/* 폰트 */
.sort-reult .section-count {
    color: #777;
}
.ui.segment.full .no-cont-wrap .text {
    color: #777;
}

/* Radio Button */
.sort-reult .section-count+.comments-sort .ui.checkbox input + label,
.sort-reult .section-count+.comments-sort .ui.checkbox input:checked + label {
    color: #777;
}
.ui.radio input:focus,
.ui.radio input:focus~label:before,
.ui.radio label:before,
.ui.radio label:hover:before {
    background: url(/images/all/btn-radio-type-2-nomal.svg) 0 0 no-repeat !important;
}
.ui.radio input:checked,
.ui.radio input:checked:focus,
.ui.radio input:checked:focus~label:before,
.ui.radio input:checked~label:before {
    background: url(/images/all/btn-radio-type-2-selected.svg) 0 0 no-repeat !important;
}

/* 데이터 없을 때 이미지 */
i.icon.no-contents80:before {
    background: url(/images/all/no-contents-80-px.svg) center no-repeat;
}