/* BG Color */
body {
    background: unset !important;
}
body #root {
    background: #fff;
}

/* border */
.channel .college-detail .channel-of-interest,
.recommend-detail .channel-of-interest {
    border: #ddd 1px solid;
}
.ma-title,
.white-title {
    border-bottom: #ddd 1px solid;
}
.content.lms .lms-sticky-menu,
.content.lms .badge-detail .ov-paragraph:last-child,
.badge-detail .ov-paragraph {
    border-bottom: #ddd 1px solid;
}

/* Button */
.ui.button.moreview {
    color: #999 !important;
}
.ui.icon.button.moreview .icon {
    background: url(/images/all/icon-list-more-16-px.svg) center no-repeat;
    margin-right: 4px !important;
}
.cont-inner .item-button {
    line-height: 20px;
}
.content.lms .ui.button.post-s {
    border: #777 1px solid;
    color: #777;
}
.content.lms .header-right-link a {
    color: #777;
}

/* Font */
.sort-reult .section-count,
.ui.segment.full .no-cont-wrap .text,
.ui.segment.full .top-guide-title .list-number {
    color: #777;
}
.badge-detail .ov-paragraph .list .item > .detail {
    color: #323232;
}
.content.lms .scrolling-area.area2 .section-head .title-style .onlytext span,
.badge-detail .ov-paragraph .title-style .onlytext span,
.badge-detail .ov-paragraph .list .item > .title {
    color: #666;
}

/* Checkbox */
.ui.checkbox:not(.radio) input:focus ~ label:before,
.ui.checkbox:not(.radio) label:before,
.ui.checkbox:not(.radio) label:hover:before {
    background: url(/images/all/btn-check-normal.svg) 0 0 no-repeat !important;
    background-size: 100% !important;
}
.ui.checkbox:not(.radio) input:checked ~ label:before,
.ui.checkbox input:checked ~ label:before {
    background: url(/images/all/btn-check-selected.svg) 0 0 no-repeat !important;
    background-size: 100% !important;
}

/* Radio Button */
.ui.radio input:focus,
.ui.radio input:focus ~ label:before,
.ui.radio label:before,
.ui.radio label:hover:before {
    background: url(/images/all/btn-radio-type-2-nomal.svg) 0 0 no-repeat !important;
}
.ui.radio input:checked,
.ui.radio input:checked:focus,
.ui.radio input:checked:focus ~ label:before,
.ui.radio input:checked ~ label:before {
    background: url(/images/all/btn-radio-type-2-selected.svg) 0 0 no-repeat !important;
}

.ui.radio.base label,
.ui.radio.base input:checked + label,
.ui.radio.base2 label,
.sort-reult .section-count + .comments-sort .ui.checkbox input + label,
.sort-reult .section-count + .comments-sort .ui.checkbox input:checked + label,
.ui.radio.v-icon input:checked + label > span > span > span .text1 {
    color: #777;
}

/* Dropdown */
.ui.dropdown.small-border { border: #777 1px solid !important;}


/* 데이터 없을 때 이미지 */
i.icon.no-contents80:before { background: url(/images/all/no-contents-80-px.svg) center no-repeat; }

/* icon */
.ui.label.onlytext .icon.video2 { background: url("/images/all/icon-learningtype-video-16-px.svg") 0 0.125rem no-repeat; }
.ui.label.onlytext .icon.classroom { background: url("/images/all/icon-learningtype-classroom-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.community { background: url("/images/all/icon-learningtype-community-16-px.svg") 0 0.125rem no-repeat; }
.ui.label.onlytext .icon.e-learning { background: url("/images/all/icon-learningtype-e-learning-16-px.svg") 0 0.125rem no-repeat; }
.ui.label.onlytext .icon.course { background: url("/images/all/icon-learningtype-course-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.audio { background: url("/images/all/icon-learningtype-audio-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.stamp { background: url("/images/all/icon-stamp-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.webpage { background: url("/images/all/icon-learningtype-webpage-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.time2 { background: url("/images/all/icon-card-time-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.complete { background: url("/images/all/icon-card-completed-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.experiential { background: url("/images/all/icon-learningtype-experiential-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.documents { background: url("/images/all/icon-learningtype-test-16-px.svg") 0 0.0625rem no-repeat; }
.ui.label.onlytext .icon.price { background: url("/images/all/icon-card-price-x-18.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.state { background: url("/images/all/icon-check-18-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.date { background: url("/images/all/icon-date-16-px.svg") 0 50% no-repeat; }
.ui.label.onlytext .icon.file2 { background: url("/images/all/icon-down-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.category { background: url("/images/all/icon-category-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.doument24 { background: url("/images/all/icon-documnet-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.period { background: url("/images/all/icon-period-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.cancellation { background: url("/images/all/icon-cancel-x-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.goal { background: url("/images/all/icon-goal-24-px@3x.png") 0 0 no-repeat; background-size: 100% auto; }
.ui.label.onlytext .icon.target { background: url("/images/all/icon-target-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.target:before { display: none; }
.ui.label.onlytext .icon.host { background: url("/images/all/icon-host-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.tag2 { background: url("/images/all/icon-tag-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.series { background: url("/images/all/icon-series-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.url { background: url("/images/all/icon-url-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.require { background: url("/images/all/icon-requirements-24-px.svg") 0 0 no-repeat; }
.ui.label.onlytext .icon.total-time { width: 1rem; height: 1rem; background: url("/images/all/icon-total-time-16-px.svg") 0 0 no-repeat; }

.ui.breadcrumb.standard::before { background: url(/images/all/icon-breadcrumb-home.svg) 0 0 no-repeat !important; }
.content.lms .icon.ask { background: url(/images/all/icon-ask-11-px.svg) 0 0 no-repeat !important; }
.content.lms .icon.listAdd { background: url(/images/all/btn-lms-bookmark-14-px.svg) 0 0 no-repeat !important; vertical-align: baseline; }
.content.lms .icon.linkCopy { background: url(/images/all/btn-lms-share-14-px.svg) 0 0 no-repeat !important; vertical-align: baseline; }
.content.lms .icon.listDelete {

}
.icon.before { background: url(/images/all/icon-before-24-px.svg) 0 0 no-repeat !important;}
.lms-comment-icon { background: url(/images/all/icon-community-comment.svg) center no-repeat; }
.badge-detail .ov-paragraph .list.bulleted .item .title:before {
    background: #777;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    margin-right: 0.5rem;
}

/* Active color */
.content.lms .lms-sticky-menu .lms-fixed-inner a.lms-act {
    border-bottom: #ff664d 4px solid;
}
.content.lms .lms-sticky-menu .lms-fixed-inner a .count {
    color: #ff664d;
}
.ui.menu.sku2 .item.active {
    border-bottom-color: #00bfae;
}
.ui.menu.sku2 .item.active .count {
    color: #ff664d;
}
.badge-slide-inner .fn-parent.on .icon span:after, .badge-slide-inner .fn-parent:hover .icon span:after {
    border-color: #00bfae;
}