
.select-none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}

.org i.icon.search:before {
  content: "\f002" !important;
  background: none !important;
}

.ui.modal.org .org-header > div {
  vertical-align: middle;
}

.ui.modal.org .select-group {
  height: 2rem;
}

.ui.modal.org .select-group .dropdown.selection {
  height: 1rem;
  line-height: 2.25rem !important;
}

.ui.modal.org .select-group .dropdown.selection .menu > .item {
  height: 2.5rem;
  line-height: 2.5;
}

/* approval 추가 후 create -> content 부분 높이 줄어 든 오류 수정 */
/*#root section.bg-white {*/
/*  height : auto;*/
/*}*/


/* mySUNI introduction 탭메뉴 깨짐 수정 */
#root section.content .tab-menu-inner .ui.menu {
  width : 75rem !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .channel-change .table-css .row.head .cell.v-middle .right .clear i.icon.reset::before {
    position : absolute;
    left : 30px;
  }
  .ui.segment.full .recommend-detail .channel-of-interest .table-css .row .cell.vtop .tit-set .ui.button.icon.img-icon i.icon.setting17 {
    position: absolute;
    top: -1px;
    left: 0;
  }
  .ui.accordion.channel .title i::before {
    height: 1.7rem;
  }
}

/* 20200330 */
#root section.content.f-channel {
  padding-bottom:0;
  background-color:#fff;
}
.f-channel .header.res {
  height: auto !important;
  padding:1.125rem 0;
  line-height: inherit;
  border-bottom:1px solid #d6deed;
  font-weight: 700;
}
.f-channel .header.res .sub.f12 {
  font-size: .75rem;
  display: block;
  margin: .625rem 0 0 0;
  font-weight: 400;
  letter-spacing: -.01625rem;
  color: #6c788f;
}
.f-channel .cell .h30 input:focus {
  border-color: #85b7d9 !important;
}
.f-channel .actions {
  text-align:center;
  border-top: 1px solid rgba(34,36,38,.15);
  padding: .9375rem 0 !important;
}
.f-channel .actions> .button {
  margin-left: .75rem;
}

/* 20200414 video modal style */
.video-class .video { position: relative; width: 100%; height: 562px; max-height: 70vh; }
.video-class .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* 20200417 site-map */
.site-map > ul:first-of-type > li:first-of-type ul { display:flex; flex-direction:column; flex-wrap:wrap; height:256px; width:100% !important;}
.site-map > ul:first-of-type > li:first-of-type ul li { width:50%; }
/*
.g-info { position: absolute; right: 0; top: 0; width: 12.4375rem; height: 100%; border-left: 0.0625rem solid #eee; }
.g-info .balloon-pop { display: none; position: absolute; right: -2px; bottom: -5.4375rem; width: 8.75rem; height: 6.6875rem; background: url("./media/GNB_menu_logout.png") 0 0 no-repeat; background-size: 100% 100%; z-index: 100; }
.g-info .balloon-pop ul { padding: 1.625rem 1.25rem 0; }
.g-info .balloon-pop ul li { margin-bottom: 12px; }
.g-info .balloon-pop ul li a, body > .header .group .g-info .balloon-pop ul li button { display: block; }
.g-info .balloon-pop ul li a span, .g-info .balloon-pop ul li button span { display: inline-block; margin-left: 0.25rem; line-height: 22px; vertical-align: top; font-size: 0.875rem; color: #222; height: 24px; }
.g-info .balloon-pop.show { display: block; }
i.icon.balloon { width: 1.5rem; height: 1.5rem; vertical-align: top; }
i.icon.balloon.mypage::before { content: ''; display: block; width: 100%; height: 100%; background: url("./media/icon-balloon-mypage.svg") 0 0 no-repeat !important; background-size: 100% auto; }
i.icon.balloon.logout::before { content: ''; display: block; width: 100%; height: 100%; background: url("./media/icon-balloon-logout.svg") 0 0 no-repeat !important; background-size: 100% auto; }
*/

.g-info { position: absolute; right: 0; top: 0; width: 12.4375rem; height: 100%; border-left: 0.0625rem solid #eee; }
.g-info .balloon-pop { display: none; position: absolute; right: -2px; bottom: -5.4375rem; width: 8.75rem; height: 6.6875rem; background: url("./media/GNB_menu_logout.png") 0 0 no-repeat; background-size: 100% 100%; z-index: 100; }
.g-info .balloon-pop ul { padding: 1.625rem 1.25rem 0; }
.g-info .balloon-pop ul li { margin-bottom: 12px; }
.g-info .balloon-pop ul li a, .g-info .balloon-pop ul li button { display: block; }
.g-info .balloon-pop ul li a span, .g-info .balloon-pop ul li button span { display: inline-block; margin-left: 0.25rem; line-height: 22px; vertical-align: top; font-size: 0.875rem; color: #222; height: 24px; }
.g-info .balloon-pop.show { display: block; }
i.icon.balloon { width: 1.5rem; height: 1.5rem; vertical-align: top; }
i.icon.balloon.mypage::before { content: ''; display: block; width: 100%; height: 100%; background: url("./media/icon-balloon-mypage.svg") 0 0 no-repeat !important; background-size: 100% auto; }
i.icon.balloon.logout::before { content: ''; display: block; width: 100%; height: 100%; background: url("./media/icon-balloon-logout.svg") 0 0 no-repeat !important; background-size: 100% auto; }
/* 20200427 정답 UI 추가 */
.test-modal .content .ol-title.exact-answer::before { content: ''; display: block; position: absolute; width: 8.25rem; height: 8.25rem; top: -3.425rem; left: -2.825rem; z-index: 0; background:url("./media/img_correct.png") center no-repeat; background-size: 100% auto; }
/* 20200508 feedback 이미지 뷰어 컴포넌트 스타일 추가 - TODO 향후 수정 필요 */
.single-image-view-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.single-image-view-modal .modal-content {
  position: relative;
  margin: auto;
}
.single-image-view-modal .caption {
  position: absolute;
  bottom: 40px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}
.single-image-view-modal .modal-content,
.single-image-view-modal .caption {
  -webkit-animation-name: zoom;
  animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.single-image-view-modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.single-image-view-modal .close:hover,
.single-image-view-modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.single-image-view-modal .image-wrapper {
  padding: 20px;
}
.single-image-view-modal .modal-content img {
  width: 100%;
  height: 100%;
}

/* 2020.06.10 kwpark 조직도 header css로 인한 td width 깨짐 보정 */
.ui.modal.org .org-body .right-area .chart .ui.table.float-header {
  border: 0
}

/* 2020.07.28 동영상 배너 */
.popup-banner-video .video iframe {
  width: 100%;
  height: 395px;
}

/* badgeB Type - C타입 적용 시 삭제*/
.badge {position:relative;display:block;text-align:center}
.badge.s280 {padding:.25rem .375rem .5rem;margin-left:-.375rem;margin-top:-.25rem;width:18.25rem;height:18.25rem}
.badge.s280 .issuing{display:block;position:absolute;top:2.25rem;left:0;text-align:center;width:100%;height:1.25rem}
.badge.s280 .issuing img{display:inline-block;height:100%}
.badge.s280 .college{display:block;margin-top:3.375rem}
.badge.s280 .college img{width:3.375rem;height:3.375rem;display:inline-block!important}
.badge.s280 .college span{margin-top:-.1875rem;display:block;text-align:center;color:#000;font-weight:700;font-size:.875rem;line-height:1}
.badge.s280 .title{margin-top:.3375rem;display:table;width:100%;height:4.125rem;text-align:center;font-size:1.25rem;color:#222;font-weight:700;letter-spacing:-.0375rem}
.badge.s280 .title .cell{display:table-cell;vertical-align:middle;width:100%;padding:0 2.625rem}
.badge.s280 .title .cell span{overflow:hidden;text-overflow:ellipsis;white-space:normal;word-break:normal;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.badge.s280.Basic{background:url(./media/bronze_1_c.a7bfc969.png) 50% 50% no-repeat}
.badge.s280.Intermediate{background:url(./media/silver_1_c.c292095d.png) 50% 50% no-repeat}
.badge.s280.Advanced{background:url(./media/gold_1_c.df1e6984.png) 50% 50% no-repeat}
.badge.s220 {padding:.25rem .375rem .5rem;margin-left:-.375rem;margin-top:-.25rem;width:14.5rem;height:14.5rem}
.badge.s220 .issuing{display:block;position:absolute;top:1.75rem;left:0;text-align:center;width:100%;height:.875rem}
.badge.s220 .issuing img{display:inline-block;height:100%}
.badge.s220 .college{display:block;margin-top:2.575rem}
.badge.s220 .college img{width:2.5rem;height:2.5rem;display:inline-block;}
.badge.s220 .college span{margin-top:-.1875rem;display:block;text-align:center;color:#000;font-weight:700;font-size:.75rem;line-height:1}
.badge.s220 .title{margin-top:.6375rem;display:table;width:100%;height:3.25rem;text-align:center;font-size:1rem;color:#222;font-weight:700;letter-spacing:-.025rem}
.badge.s220 .title .cell{display:table-cell;vertical-align:middle;width:100%;padding:0 2.0625rem}
.badge.s220 .title .cell span{overflow:hidden;text-overflow:ellipsis;white-space:normal;word-break:normal;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.badge.s220.Basic{background:url(./media/bronze_2_c.fde3aaab.png) 50% 50% no-repeat}
.badge.s220.Intermediate{background:url(./media/silver_2_c.f4968dbc.png) 50% 50% no-repeat}
.badge.s220.Advanced{background:url(./media/gold_2_c.31ef1321.png) 50% 50% no-repeat}

.badge-detail .course-cont .course-box .bar .toggle-btn { display:none;}
.badge-detail .course-cont .course-box .bar .right > span,
.badge-detail .course-cont .course-box .bar .right > a { display: inline-block; }
.badge-detail .course-cont .cube-box .bar.typeA .tit a{text-decoration:none;}
.badge-detail .course-cont .course-box .bar .right .btn-play { padding-left: 0.5rem; }
.badge-detail .course-cont .course-box .bar .tit a {font-weight: 700;}
.badge-detail .course-cont .course-box .bar .toggle-btn { display: none; }
.challenge-wrap .challenge-badge .left-area .status .txt.txt2 { display:block; margin-bottom: 0.625rem;}
.badge-detail .course-cont .course-box .bar .right { display: table-cell; vertical-align: middle; text-align: right; padding: 0 1.25rem; width: 20rem; }
.course-cont .course-box.type2 .bar .num {padding-right:1.25rem; cursor: pointer;}
