
.select-none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}

.org i.icon.search:before {
  content: "\f002" !important;
  background: none !important;
}

.ui.modal.org .org-header > div {
  vertical-align: middle;
}

.ui.modal.org .select-group {
  height: 2rem;
}

.ui.modal.org .select-group .dropdown.selection {
  height: 1rem;
  line-height: 2.25rem !important;
}

.ui.modal.org .select-group .dropdown.selection .menu > .item {
  height: 2.5rem;
  line-height: 2.5;
}

/* approval 추가 후 create -> content 부분 높이 줄어 든 오류 수정 */
/*#root section.bg-white {*/
/*  height : auto;*/
/*}*/


/* mySUNI introduction 탭메뉴 깨짐 수정 */
#root section.content .tab-menu-inner .ui.menu {
  width : 75rem !important;
}

.ui.statistic.total-time .ui.button.btn-total-time {
  background : none !important;
}
